/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* --------------Start of my CSS--------------*/

/* --------------Root Styles--------------*/
:root {
    --sky-teal: #9BB4C0;
    --dk-mountain-gray: #37353E;
    --md-mountain-gray: #44444E;
    --md-mountain-brown: #715A5A;
    --md-green: #5F6F52;
    --lt-green: #A9B388;

    --snow-gray: #D3DAD9;
    --white: #fff;
    --dk-gray: #3C3D37;
    --black: #181C14;

    --font1: "Inter", Verdana, sans-serif;
    --font2: "Lora", Verdana, serif;
}
/* --------------Header styles--------------*/
header, body, footer {
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
    text-align: center;
}
header {
    background-color: var(--snow-gray);
    font-family: var(--font1);
    height: 680px;
    border-bottom: 28px solid var(--md-green);
}
/* --------------Nav styles--------------*/
.topnav {
    display: flex;
    gap: 1rem;
	justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
    border-bottom: 10px solid var(--md-green);
}
nav li{
	width: 100%;
}
nav ul {
	display: flex;
    flex-direction: row;
	gap: 20px;
	list-style-type: none;
}
nav a {
	padding: 20px 30px;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: var(--dk-mountain-gray);
    color: var(--snow-gray);
	font-size: 1.5rem;
	font-weight: bold;
    text-decoration: none !important; 
    text-decoration-line: none; 
}

h1, h1 a {
    color: var(--black);
    text-decoration: none;
    font-size: 2.2rem;
	font-weight: bold;
}
.topnav h1 {
    padding-right: 300px;
    margin-left: 0;
}
h2 {
    font-weight: bold;
    font-size: 2rem;
    padding: 20px 0;
    word-spacing: 8px;
    letter-spacing: 0.4rem;
    background-color: var(--sky-teal);
    box-shadow: 10px 10px #37353E;
}
h3 {
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
    padding: 20px;
    background-color: var(--sky-teal);
    box-shadow: 10px 10px #37353E;
}
p {
    font-size: 1.1rem;
    padding: 20px  10px 20px;
    font-family: var(--font2);
    line-height: 1.5;
    max-width: 80ch;
    margin: auto;
}
em {
    font-weight: bold;
}
.heroimg {
    width: 100%;
}
/* --------------Hover styles--------------*/
nav a:hover {
    background-color: var(--md-mountain-brown);
    color: var(--black);
}
nav a:focus {
    background-color: #9BB4C0;
}

/* -------------Body styles--------------*/
body {
    background-image: url(images/moroccan-flower.png);
    line-height: 1.35;
}
/* --------------Main styles--------------*/
main {
    background-color: var(--white);
}
.parentgroup {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding: 0 50px;
}
.intro {
    justify-self: center;
    align-self: center;
    grid-column: span 2 / span 2;
    padding: 60px 220px 50px;
}
.group1 {
    grid-row-start: 2;
    align-self: center;
    padding-left: 150px;
    padding-bottom: 20px;
}
.group2 {
    grid-row-start: 2;
    padding-right: 150px;
    padding-left: 30px;
    text-align: justify;
    letter-spacing: 0.9px;
}
.group2 p, .group4 p {
    text-indent: 50px;
}
.group3 {
    grid-row-start: 3;
    align-self: center;
    padding-left: 150px;
    padding-bottom: 80px;
}
.group4 {
    grid-row-start: 3;
    padding-right: 150px;
    padding-left: 30px;
    text-align: justify;
    letter-spacing: 0.9px;
}

/* --------------Form styles--------------*/
.formstyling {
    padding-bottom: 60px;
}
.formstyling form {
    background-color: var(--sky-teal);
    padding: 30px;
    max-width: 44%;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
}
form {
    border: 10px solid var(--dk-mountain-gray);
    border-radius: 20px;
}
.required {
    color: red;
}
.contacttext {
    font-size: 1.2rem;
    padding: 60px 350px;
    margin: auto;
}
.parentcontact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    font-size: 1.2rem;
    line-height: 1.35;
    font-family: var(--font1);
}
.infocontact {
    grid-row-start: 2;
    text-align: left;
    padding: 10px 0 50px 30px;
}
.preferredcontact {
    grid-row-start: 2;
    text-align: left;
    padding: 10px 30px 50px 0;
}
/* --------------Input Form styling--------------*/
input {
    background-color: var(--snow-gray);
    padding: 10px 10px;
    border: 5px solid var(--md-mountain-gray);
    border-radius: 10px 10px;
}
input, label, select, textarea{
	display: block;
	width: 85%;
    resize: vertical 
}
label {
    padding: 15px 5px 10px;
}
textarea {
    background-color: var(--snow-gray);
    border: 5px solid var(--md-mountain-gray);
    border-radius: 10px 10px;
    padding: 8px 16px;
    margin-bottom: 20px;

    text-align: left;
}
legend{
	font-weight: bold;
    text-align: center;
}
fieldset {
    padding: 20px;
    border: 5px solid var(--md-mountain-gray);
    border-radius: 10px 10px;
}
fieldset label{
	margin: auto;
    padding: 10px;
}
input:invalid:focus, select:invalid:focus, textarea:invalid:focus{
	border: 4px solid red;
	box-shadow: 8px 8px #37353E;
}
input:focus, select:focus, textarea:focus{
	outline: 1px solid var(--md-mountain-gray);
}
input[type="radio"] + label {
    cursor: pointer;
    display: flex;
    align-items: center;
}
input[type="radio"] {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    border-radius: 0;
}
input[type="radio"] + label::before {
    content: " ";  
    background-color: var(--snow-gray);
    width: 22px;
    height: 20px;
    font-size: 2.25em;
    line-height: 1rem;
    border-radius: 50%;
    display: inline-block;  
    text-align: center;
    margin-right: 16px;
    border: 3px solid var(--snow-gray);
    padding-bottom: 2px;
}
input[type="radio"]:checked + label::before {
    content: " ";
    background: var(--md-mountain-gray);
    color: var(--md-mountain-gray);
}
input[type="radio"]:focus{
    outline: none;
}
input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 3px var(--md-mountain-gray);
}
input[type="submit"] {
    background-color: var(--md-mountain-gray);
    color: var(--snow-gray);
    padding: 10px 16px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--font1);
    width: auto; 
    margin: 10px auto 0;
}
input[type="submit"]:hover {
    background-color: var(--md-mountain-brown);
    color: var(--black);
}
input[type="submit"]:focus {
    background-color: #9BB4C0;
}

/* --------------Footer styles--------------*/
footer {
    background-color: var(--snow-gray);
    padding: 40px 0 20px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border-top: 10px solid var(--md-green);
}
footer p {
    font-size: 1rem;
    font-family: var(--font1);
    margin: auto;
}